@font-face {
    font-family: "HankenGrotesk";
    /* Helps with performance */
    font-display: swap;
    /* List range of fontweights because it is a variable font */
    font-weight: 100 900;
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
        /* Added because it is a .ttf file */
        format("truetype");
}

:root {
    /* Custom-class HSL colors */
    --clr-primary-light-purple-400: 250, 100%, 65%;
    --clr-primary-dark-purple-500: 260, 70%, 45%;
    --clr-secondary-light-blue-400: 240, 80%, 55%;
    --clr-secondary-dark-blue-500: 240, 70%, 45%;
    
    /* Allows for manipulation of opacity */
    --clr-primary-400: hsl(var(--clr-primary-light-purple-400));
    --clr-primary-500: hsl(var(--clr-primary-dark-purple-500));
    --clr-secondary-400: hsl(var(--clr-secondary-light-blue-400));
    --clr-secondary-500: hsl(var(--clr-secondary-dark-blue-500));

    /* Custom-class HSL colors */
    --clr-neutral-white: 0, 0%, 100%;
    --clr-neutral-light-gray: 220, 100%, 95%;
    --clr-neutral-light-purple: 240, 100%, 90%;
    --clr-neutral-dark-blue-gray: 225, 30%, 25%;

    /* Allows for manipulation of opacity */
    --clr-neutral-100: hsl(var(--clr-neutral-white));
    --clr-neutral-200: hsl(var(--clr-neutral-light-gray));
    --clr-neutral-300: hsl(var(--clr-neutral-light-purple));
    --clr-neutral-700: hsl(var(--clr-neutral-dark-blue-gray));

    /* "Your Result" gradients */
    --gradient-primary: linear-gradient(var(--clr-primary-400), var(--clr-secondary-400));
    --gradient-to-transparent: linear-gradient(var(--clr-primary-500), hsl(var(--clr-secondary-500, 0)));

    /* "Summary" class colors */
    --clr-red: 0, 100%, 65%;
    --clr-yellow: 40, 100%, 55%;
    --clr-green: 165, 100%, 35%;
    --clr-blue: 235, 85%, 45%;

    /* "Summary" class accent colors */
    --clr-accent-red: 0, 100%, 70%;
    --clr-accent-yellow: 40, 100%, 55%;
    --clr-accent-green: 165, 100%, 35%;
    --clr-accent-blue: 234, 85%, 45%;

    /* Font styling */
    --font-family-default: 'HankenGrotesk', sans-serif;
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-default);
    font-size: var(--fs-400);
    color: var(--clr-neutral-700);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        /* place-items: center; */
    }

    .section-title {
        font-weight: var(--fw-bold);
        font-size: var(--fs-600);
    }

    .continue-button {
        color: var(--clr-neutral-100); 
        line-height: 1;
        background: var(--clr-neutral-700);
        padding: 1rem 2rem;
        border: 0;
        border-radius: 100vw;
        cursor: pointer;
      }

    .continue-button:hover, .continue-button:focus-visible {
        background: var(--gradient-primary);
    }

    .results-summary-container {
        /* Scoped custom properties */
        --border-radius: 2rem;
        --padding: 2.5rem;

        max-width: 46rem;
        /* Makes it easy to have two columns for larger screen sizes responsiveness */
        display: grid;
    }

    .results {
        color: hsl(var(--clr-neutral-white), 8.5);
        text-align: center;
        background: var(--gradient-primary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }

    .results-summary-container {
        margin-inline: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        /* var nested in hsl version to allow for .2 opacity property */
        box-shadow: .5rem 1rem 3rem hsl(var(--clr-neutral-dark-blue-gray), .2);
    }

    .results, .summary-container {
        padding: var(--padding);
    }

    .results {
        border-radius: var(--border-radius);
    }
}